.post_background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--bg-color);
    z-index: -10;
}
.post_root{
    width: calc(60vw - 2rem);
    margin: 6rem 20vw;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}
.post_title{
    font-size: 40px;
    font-weight: 600;
}
.post_date{
    color: #3339;
}
.post_root>hr{
    color: #3333;
    height: 1px;
    border: none;
    background-color: #3333;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.post_root>pre{
    padding: 0.5rem 1rem;
    background-color: rgba(185, 185, 185, 0.2);
    line-height: 1.5rem; /* 行距 */
    border-radius: 0.5rem;
}
